<template>
  <div class="h-full w-full flex flex-col">
    <create-quote></create-quote>
    <!-- <quote v-for="(quote, index) in quotes" :key="index" :quote="quote"></quote> -->
    <div class="flex p-8 flex-grow overflow-hidden">
      <div class="w-1/3 mr-8 text-blue-500 max-h-full">
        <vue-scroll :ops="ops">
          <div class="content pr-8 ">
            <create-author></create-author>
            <filter-button
              v-for="(author, index) in authors"
              :key="index"
              class="border border-gray-700 hover:border-blue-800 bg-black bg-opacity-50 hover:bg-opacity-25 text-gray-600 hover:text-blue-600 p-2 mb-2 block w-full"
            >
              {{ author.firstname }} {{ author.lastname }}
            </filter-button>
          </div>
        </vue-scroll>
      </div>
      <div class="w-2/3 bg-white h-full">Right</div>
    </div>
  </div>
</template>

<script>
import vueScroll from 'vuescroll'
import CreateQuote from '~/components/CreateQuote/CreateQuote.vue'
import CreateAuthor from '~/components/Molecules/CreateAuthor/CreateAuthor.vue'
import FilterButton from '~/components/Atoms/FilterButton'
// import Quote from '~/components/Quote/Quote.vue'
export default {
  layout: 'authenticated',
  middleware: 'authenticated',
  components: {
    vueScroll,
    CreateQuote,
    CreateAuthor,
    FilterButton
    // Quote
  },
  data() {
    return {
      ops: {
        // vuescroll: {},
        // scrollPanel: {},
        rail: {
          background: '#01a99a'
        },
        bar: { background: '#4299e1' }
      }
    }
  },
  computed: {
    clientEmail() {
      return this.$store.getters.clientEmail
    },
    isLoggedIn() {
      return this.$store.getters.isLoggedIn
    },
    quotes() {
      console.log(this.$store.getters.quotes)
      return this.$store.getters.quotes
    },
    authors() {
      console.log(this.$store.getters.authors)
      return this.$store.getters.authors
    }
  },
  mounted() {
    this.getQuotes()
    this.getAuthors()
  },
  methods: {
    getQuotes() {
      this.$store.dispatch('getQuotes')
    },
    getAuthors() {
      this.$store.dispatch('getAuthors')
    }
  }
}
</script>

<style lang="scss" scoped></style>
