<template>
  <div class="w-full mb-2">
    <form v-if="state === states.ACTIVE" class="w-full bg-black bg-opacity-50">
      <div class="w-full p-8">
        <label for="author" class="text-sm text-blue-500"
          >Author's First and Last Name</label
        >
        <input
          v-model="newAuthor"
          name="author"
          class=" w-full placeholder-gray-600 border border-b-2 border-gray-800 focus:border-blue-600 text-gray-500 focus:text-blue-300 border-t-0 border-l-0 border-r-0 my-2 p-1 bg-black bg-opacity-0 outline-none"
        />
      </div>
      <div class="flex w-full">
        <form-button
          class="flex-grow"
          @click.native.prevent="createAuthor()"
          submit
          >Create</form-button
        >
        <form-button @click.native="state = states.INACTIVE" cancel
          >Cancel</form-button
        >
      </div>
    </form>
    <filter-button
      v-if="state === states.INACTIVE"
      class="w-full"
      @click.native="state = states.ACTIVE"
    >
      +
    </filter-button>
  </div>
</template>

<script>
import FilterButton from '~/components/Atoms/FilterButton'
import FormButton from '~/components/Atoms/FormButton'
export default {
  components: {
    FilterButton,
    FormButton
  },
  data() {
    return {
      newAuthor: '',
      states: {
        ACTIVE: 'active',
        INACTIVE: 'inactive'
      },
      state: 'inactive'
    }
  },
  methods: {
    createAuthor() {
      const author = {
        firstname: this.newAuthor.split(' ')[0],
        lastname: this.newAuthor.split(' ')[1]
      }
      this.$store.dispatch('CREATE_AUTHOR', author)
    }
  }
}
</script>

<style lang="scss" scoped></style>
