<template>
  <button
    class="focus:outline-none border border-gray-700 hover:border-blue-800 bg-black bg-opacity-50 hover:bg-opacity-25 text-gray-600 hover:text-blue-600 p-2 mb-2 block w-full"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped></style>
