<template>
  <div class="flex flex-col shadow rounded-lg p-10 m-10">
    <div class="flex flex-row justify-between">
      <h2 class="text-gray-600 text-l">
        {{ quote.author.firstname }} <b>{{ quote.author.lastname }}</b>
      </h2>
      <h1 class="text-gray-600 text-xl">{{ quote.source.title }}</h1>
    </div>
    <div>{{ quote.quote }}</div>
    <Categories
      :categories="quote.categories"
      :quote-id="quote.id"
    ></Categories>
    <!-- Note List Component [START] -->
    <h3>Notes</h3>
    <Note
      v-for="note in quote.note"
      :key="note.id"
      :note-id="note.id"
      :note="note.note"
      :quote-id="quote.id"
    ></Note>
    <!-- Add Note Component [START] -->
    <div class="flex flex-row justify-between">
      <form @submit.prevent="addNote()">
        <label for="name">Note:</label>
        <input id="newNote" v-model="newNote" type="text" name="note" />
        <button
          type="submit"
          class="mx-2 py-2 px-4 bg-blue-500 hover:bg-blue-800 rounded-md text-white"
        >
          Add note
        </button>
      </form>
    </div>
    <!-- Add Note Component [END] -->
    <!-- Tag List Component [START] -->
    <div class="my-4">
      <Tags :tags="quote.tags" :quote-id="quote.id"></Tags>
    </div>
    <!-- Tag List Component [END] -->
  </div>
</template>

<script>
import Categories from '~/components/Categories/Categories.vue'
import Tags from '~/components/Tags/Tags.vue'
import Note from '~/components/Note/Note.vue'
export default {
  components: {
    Categories,
    Tags,
    Note
  },
  props: {
    quote: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      newNote: ''
    }
  },
  methods: {
    addNote() {
      this.$store
        .dispatch('addNote', { note: this.newNote, quoteId: this.quote.id })
        .then((response) => {
          console.log('login res:', response)
        })
    }
  }
}
</script>

<style lang="scss" scoped></style>
