<template>
  <footer class="bg-blue-900 w-full">Copyright Meh</footer>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
footer {
  position: absolute;
  bottom: 0px;
  height: 75px;
}
</style>
