<template>
  <div>
    <form
      :class="{
        'flex flex-col bg-black bg-opacity-50 text-white': true,
        hidden: state === states.INACTIVE,
        'inline-block': state === states.ACTIVE
      }"
      @submit.prevent="submit()"
    >
      <section class="p-20 flex flex-col ">
        <h1 class="text-xl mb-8">Create Quote</h1>

        <div class="flex">
          <div class="mr-2 flex flex-col w-4/12">
            <label for="sourceTitle" class="text-sm text-blue-500"
              >Source Title</label
            >
            <input
              v-model="newQuote.sourceTitle"
              name="sourceTitle"
              class="placeholder-gray-600 border border-b-2 border-gray-800 focus:border-blue-600 text-gray-500 focus:text-blue-300 border-t-0 border-l-0 border-r-0 my-2 p-1 bg-black bg-opacity-0 outline-none"
            />
          </div>
          <div class="mr-2 flex flex-col w-4/12">
            <label for="author" class="text-sm text-blue-500">Author</label>
            <input
              v-model="newQuote.author"
              name="author"
              class="placeholder-gray-600 border border-b-2 border-gray-800 focus:border-blue-600 text-gray-500 focus:text-blue-300 border-t-0 border-l-0 border-r-0 my-2 p-1 bg-black bg-opacity-0 outline-none"
            />
          </div>
          <div class="mr-2 flex flex-col w-2/12">
            <label for="page" class="text-sm text-blue-500">Page</label>
            <input
              v-model="newQuote.page"
              type="number"
              name="page"
              placeholder="Page #"
              class="placeholder-gray-600 border border-b-2 border-gray-800 focus:border-blue-600 text-gray-500 focus:text-blue-300 border-t-0 border-l-0 border-r-0 my-2 p-1 bg-black bg-opacity-0 outline-none"
            />
          </div>
          <div class="mr-2 flex flex-col w-2/12">
            <label for="page" class="text-sm text-blue-500">Chapter</label>
            <input
              v-model="newQuote.chapter"
              type="number"
              name="chapter"
              placeholder="Chapter #"
              class="placeholder-gray-600 border border-b-2 border-gray-800 focus:border-blue-600 text-gray-500 focus:text-blue-300 border-t-0 border-l-0 border-r-0 my-2 p-1 bg-black bg-opacity-0 outline-none"
            />
          </div>
        </div>

        <div class="flex">
          <div class="mr-2 flex flex-col w-6/12">
            <label for="categories" class="text-sm text-blue-500"
              >Categories</label
            >
            <input
              v-model="newQuote.categories"
              name="categories"
              class="placeholder-gray-600 border border-b-2 border-gray-800 focus:border-blue-600 text-gray-500 focus:text-blue-300 border-t-0 border-l-0 border-r-0 my-2 p-1 bg-black bg-opacity-0 outline-none"
            />
          </div>

          <div class="mr-2 flex flex-col w-6/12">
            <label for="tags" class="text-sm text-blue-500">Tags</label>
            <input
              v-model="newQuote.tags"
              name="tags"
              class="placeholder-gray-600 border border-b-2 border-gray-800 focus:border-blue-600 text-gray-500 focus:text-blue-300 border-t-0 border-l-0 border-r-0 my-2 p-1 bg-black bg-opacity-0 outline-none"
            />
          </div>
        </div>

        <label for="quote" class="text-sm text-blue-500">Quote</label>
        <textarea
          v-model="newQuote.quote"
          name="quote"
          class="placeholder-gray-600 border border-b-2 border-gray-800 focus:border-blue-600 text-gray-500 focus:text-blue-300 border-t-0 border-l-0 border-r-0 my-2 p-1 bg-black bg-opacity-0 outline-none"
        />
      </section>
      <div class="flex justify-center">
        <!-- <button
        type="button"
        class="py-2 px-4 mx-2 bg-gray-100 hover:bg-gray-300 rounded-md"
        @click="signup"
      >
        Reset
      </button> -->
        <div class="flex w-full mt-8">
          <button
            type="submit"
            class="py-2 px-4 bg-blue-600 hover:bg-blue-500 text-white flex-grow"
          >
            Submit
          </button>
          <button
            v-if="state === states.ACTIVE"
            class="bg-black bg-opacity-50 hover:bg-opacity-25 text-gray-500 hover:text-white p-4 w-1/3"
            @click="state = states.INACTIVE"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
    <button
      v-if="state === states.INACTIVE"
      class="w-full bg-black bg-blue-900 hover:bg-blue-700 text-white p-4"
      @click="state = states.ACTIVE"
    >
      New Quote
    </button>
  </div>
</template>

<script>
// import _ from 'lodash'
export default {
  data() {
    return {
      newQuote: {
        quote: undefined,
        author: undefined,
        // authorFirstname: undefined,
        // authorLastname: undefined,
        chapter: undefined,
        page: undefined,
        sourceTitle: undefined,
        categories: undefined,
        tags: undefined
      },
      states: {
        ACTIVE: 'active',
        INACTIVE: 'inactive'
      },
      state: 'inactive',
      listener: undefined
    }
  },
  mounted() {
    // const onAnythingSaid = (text) => {
    //   this.setState({ interimText: text })
    // }
    // const onEndEvent = () => {
    //   if (this.state.listening) {
    //     this.startListening()
    //   }
    // }
    // const onFinalised = (text) => {
    //   this.setState({
    //     finalisedText: [text, ...this.state.finalisedText],
    //     interimText: ''
    //   })
    // }
    // try {
    //   this.listener = new SpeechToText(onFinalised, onEndEvent, onAnythingSaid)
    // } catch (error) {
    //   this.setState({ error: error.message })
    // }
  },
  methods: {
    submit() {
      const { author, ...quote } = this.newQuote

      //   quote.categories = quote.categories
      //     .split(',')
      //     .map((category) => _.capitalize(category.trim()))
      //   quote.tags = quote.categories
      //     .split(',')
      //     .map((category) => _.capitalize(category.trim()))
      quote.authorFirstname = author.split(' ')[0]
      quote.authorLastname = author.split(' ')[1]

      console.log(quote)

      this.$store.dispatch('createQuote', quote).then((response) => {
        console.log('login res:', response)
        if (response) this.$router.push(`/user`)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: rgba(0, 0, 0, 0);
}
</style>
