<template>
  <div class="flex items-center">
    <div v-if="state === states.ACTIVE" class="mr-2 my-1 flex">
      <div
        class="arrow-left"
        :class="{ delete: state === states.DELETE }"
      ></div>
      <div
        class="p-1 rounded-tr-lg rounded-br-lg flex"
        :class="{
          'bg-blue-400': state !== states.DELETE,
          'bg-red-400': state === states.DELETE
        }"
      >
        <form class="flex items-center" @submit.prevent="addTag()">
          <input id="new-tag" v-model="tag" type="text" />
          <button type="submit" class="mx-2 text-blue-900">
            <fa :icon="['fas', 'check']" />
          </button>
          <button class="mx-2 text-blue-900" @click="state = states.INACTIVE">
            <fa :icon="['fas', 'times']" />
          </button>
        </form>
      </div>
    </div>
    <button
      v-else
      class="text-blue-900 hover:text-blue-500 mr-4"
      @click="state = states.ACTIVE"
    >
      <fa :icon="['fas', 'plus']" />
    </button>
  </div>
</template>

<script>
export default {
  props: {
    quoteId: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      tag: '',
      states: {
        ACTIVE: 'active',
        INACTIVE: 'inactive'
      },
      state: 'inactive'
    }
  },
  methods: {
    addTag() {
      this.$store
        .dispatch('addTag', { name: this.tag, quoteId: this.quoteId })
        .then((response) => {
          this.tag = ''
          this.state = this.states.INACTIVE
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.arrow-left {
  width: 0px;
  height: 100%;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 16px solid #63b3ed;
}
.add-tag {
  height: 30px;
  width: 30px;
}
</style>
