<template>
  <form class="flex flex-col shadow rounded-lg p-10" @submit.prevent="submit()">
    <h1 class="text-xl">Login</h1>
    <input
      v-model="client.email"
      name="clientEmail"
      class="border border-gray-500 my-2 p-1"
    />
    <input
      v-model="client.password"
      type="password"
      name="clientPassword"
      class="border border-gray-500 my-2 p-1"
    />
    <div class="flex justify-center">
      <button
        type="button"
        class="py-2 px-4 mx-2 bg-gray-100 hover:bg-gray-300 rounded-md"
        @click="signup"
      >
        Sign Up
      </button>
      <button
        type="submit"
        class="mx-2 py-2 px-4 bg-blue-500 hover:bg-blue-800 rounded-md text-white"
      >
        Submit
      </button>
    </div>
  </form>
</template>

<script>
export default {
  data() {
    return {
      client: {
        email: undefined,
        password: undefined
      }
    }
  },
  methods: {
    submit() {
      this.$store.dispatch('login', this.client).then((response) => {
        console.log('login res:', response)
        if (response) this.$router.push(`/user`)
      })
    },
    signup() {
      this.$emit('toggleSignup', true)
    }
  }
}
</script>

<style lang="scss" scoped></style>
