<template>
  <div>
    <signup v-if="signup" @toggleSignup="toggleSignup($event)"></signup>
    <login v-else @toggleSignup="toggleSignup($event)"></login>
  </div>
</template>

<script>
import Signup from '~/components/Authorization/Signup.vue'
import Login from '~/components/Authorization/Login.vue'
export default {
  components: {
    Signup,
    Login
  },
  data() {
    return {
      signup: true
    }
  },
  methods: {
    toggleSignup(boolean) {
      this.signup = boolean
    }
  }
}
</script>

<style lang="scss" scoped></style>
