<template>
  <form class="flex flex-col shadow rounded-lg p-10" @submit.prevent="submit()">
    <h1 class="text-xl">Signup</h1>
    <input
      v-model="client.email"
      name="clientEmail"
      class="border border-gray-500 my-2 p-1"
    />
    <input
      v-model="client.password"
      type="password"
      name="clientPassword"
      class="border border-gray-500 my-2 p-1"
    />
    <div class="flex justify-center">
      <button
        type="button"
        class="py-2 px-4 mx-2 bg-gray-100 hover:bg-gray-300 rounded-md"
        @click="login"
      >
        Login
      </button>
      <button
        type="submit"
        class="mx-2 py-2 px-4 bg-blue-500 hover:bg-blue-800 rounded-md text-white"
      >
        Submit
      </button>
    </div>
  </form>
</template>

<script>
export default {
  data() {
    return {
      client: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    submit() {
      this.$store.dispatch('signup', this.client)
    },
    login() {
      this.$emit('toggleSignup', false)
    }
  }
}
</script>

<style lang="scss" scoped></style>
