<template>
  <div class="mr-2 my-1 flex">
    <!-- <div class="arrow-left" :class="{ delete: state === states.DELETE }"></div> -->
    <div
      class="p-1 rounded-lg flex"
      :class="{
        'bg-blue-400': state !== states.DELETE,
        'bg-red-400': state === states.DELETE
      }"
    >
      <button
        v-if="state === states.REVIEW || state === states.DELETE"
        class="ml-1 hover:text-white font-semibold text-sm"
        :class="{
          'text-blue-900': state !== states.DELETE,
          'text-red-900': state === states.DELETE
        }"
      >
        {{ category.name }}
      </button>
      <form
        v-if="state === states.EDIT"
        class="flex items-center"
        @submit.prevent="editCategory()"
      >
        <input id="new-category" v-model="multableCategory" type="text" />
        <button
          type="submit"
          class="mx-2 hover:text-white"
          :class="{
            'text-blue-900': state !== states.DELETE,
            'text-red-900': state === states.DELETE
          }"
        >
          <fa :icon="['fas', 'check']" />
        </button>
        <button
          class="mx-2 hover:text-white"
          :class="{
            'text-blue-900': state !== states.DELETE,
            'text-red-900': state === states.DELETE
          }"
          @click="state = states.REVIEW"
        >
          <fa :icon="['fas', 'times']" />
        </button>
      </form>
      <div v-if="state === states.REVIEW">
        <button
          class="h-full ml-2 mr-1 hover:text-white"
          :class="{
            'text-blue-900': state !== states.DELETE,
            'text-red-900': state === states.DELETE
          }"
          @click="state = states.EDIT"
        >
          <fa :icon="['fas', 'pencil-alt']" />
        </button>
        <button
          class="h-full mx-1 hover:text-white"
          :class="{
            'text-blue-900': state !== states.DELETE,
            'text-red-900': state === states.DELETE
          }"
          @click="state = states.DELETE"
        >
          <fa :icon="['fas', 'times-circle']" />
        </button>
      </div>
      <div v-if="state === states.DELETE">
        <button
          class="h-full ml-2 mr-1 hover:text-white"
          :class="{
            'text-blue-900': state !== states.DELETE,
            'text-red-900': state === states.DELETE
          }"
          @click="deleteCategory()"
        >
          <fa :icon="['fas', 'trash-alt']" />
        </button>
        <button
          class="h-full mx-1 hover:text-white"
          :class="{
            'text-blue-900': state !== states.DELETE,
            'text-red-900': state === states.DELETE
          }"
          @click="state = states.REVIEW"
        >
          <fa :icon="['fas', 'times']" />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import actions from '@/store/categories/actions.js'
export default {
  props: {
    category: {
      type: Object,
      default: () => {}
    },
    quoteId: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      states: {
        REVIEW: 'review',
        EDIT: 'inactive',
        DELETE: 'delete'
      },
      state: 'review',
      multableCategory: this.category.name
    }
  },
  methods: {
    editCategory() {
      if (this.multableCategory === this.category.name) {
        this.$store
          .dispatch('SET_TOAST', 'Category Value Unchanged.')
          .then((response) => {
            this.state = this.states.REVIEW
          })
      } else {
        this.$store
          .dispatch(actions.EDIT_CATEGORY_ON_QUOTE, {
            payload: { id: this.category.id, name: this.multableCategory },
            quoteId: this.quoteId
          })
          .then((response) => {
            this.state = this.states.REVIEW
          })
      }
    },
    deleteCategory() {
      this.$store
        .dispatch(actions.REMOVE_CATEGORY_FROM_QUOTE, {
          id: this.category.id,
          quoteId: this.quoteId
        })
        .then((response) => {
          this.state = this.states.INACTIVE
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.arrow-left {
  width: 0px;
  height: 100%;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 16px solid #63b3ed;
}
.arrow-left.delete {
  border-right: 16px solid #fc8181;
}
</style>
