<template>
  <div class="flex">
    <div v-if="state !== states.EDIT" class="flex-1">
      {{ note }}
    </div>
    <form
      v-if="state === states.EDIT"
      class="flex w-full"
      @submit.prevent="editNote()"
    >
      <div class="flex-1">
        <label for="name">Note:</label>
        <input id="newNote" v-model="mutableNote" type="text" name="note" />
      </div>
      <div>
        <button type="submit">Save</button> |
        <button @click="state = states.REVIEW">Cancel</button>
      </div>
    </form>
    <div v-if="state === states.REVIEW">
      <button @click="state = states.EDIT">Edit</button> |
      <button @click="state = states.DELETE">Delete</button>
    </div>
    <div v-if="state === states.DELETE">
      <button @click="deleteNote()">Confirm</button> |
      <button @click="state = states.REVIEW">Cancel</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    noteId: {
      type: Number,
      required: true
    },
    note: {
      type: String,
      required: true
    },
    quoteId: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      states: {
        REVIEW: 'review',
        EDIT: 'edit',
        DELETE: 'delete'
      },
      state: 'review',
      mutableNote: this.note
    }
  },
  methods: {
    editNote() {
      this.$store
        .dispatch('editNote', {
          payload: { id: this.noteId, note: this.mutableNote },
          quoteId: this.quoteId
        })
        .then((response) => {
          console.log('login res:', response)
          this.state = this.states.REVIEW
        })
    },
    deleteNote() {
      this.$store
        .dispatch('deleteNote', {
          id: this.noteId,
          quoteId: this.quoteId
        })
        .then((response) => {
          console.log('login res:', response)
          this.state = this.states.REVIEW
        })
    }
  }
}
</script>

<style lang="scss" scoped></style>
