<template>
  <header class="bg-gray-700 flex items-center flex-shrink-0">
    <h1 class="flex-grow font-black text-xl text-white">rav3n</h1>
    <logout-button></logout-button>
  </header>
</template>

<script>
import LogoutButton from '~/components/Atoms/LogoutButton.vue'
export default {
  components: {
    LogoutButton
  }
}
</script>

<style lang="scss" scoped>
header {
  height: 100px;
}
h1 {
  font-family: 'Damion', cursive;
  font-family: 'Open Sans', sans-serif;
}
</style>
