<template>
  <div class="flex flex-col min-h-full max-h-full">
    <app-header> </app-header>
    <main class="flex-grow bg-gray-900 w-full">
      <nuxt /><toast :message="toast"></toast>
    </main>
    <app-footer></app-footer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import AppHeader from '~/components/Organisms/AppHeader.vue'
import AppFooter from '~/components/Footer.vue'
import Toast from '~/components/Toast/Toast.vue'
export default {
  components: {
    AppHeader,
    AppFooter,
    Toast
  },
  computed: {
    // mix the getters into computed with object spread operator
    ...mapGetters([
      'toast'
      // ...
    ])
  }
  // mounted() {
  //   this.$store.dispatch('hasCookies')
  //   .then((response) => {
  //     if (!response) {
  //       // /this.$router.push('/')
  //     }
  //   })
  // }
}
</script>

<style lang="scss" scoped>
main {
  position: absolute;
  top: 100px;
  bottom: 75px;
}
</style>
