<template>
  <button
    :type="this.submit && 'submit'"
    :class="[
      this.submit && 'py-2 px-4 bg-blue-600 hover:bg-blue-500 text-white',
      this.cancel && 'py-2 px-4 bg-red-600 hover:bg-red-500 text-white'
    ]"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    submit: {
      type: Boolean,
      default: false
    },
    cancel: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped></style>
