<template>
  <div class="flex flex-wrap">
    <AddTag :quote-id="quoteId"></AddTag>
    <Tag v-for="tag in tags" :key="tag.id" :tag="tag" :quote-id="quoteId"></Tag>
  </div>
</template>

<script>
import AddTag from '~/components/Tags/AddTag/AddTag.vue'
import Tag from '~/components/Tags/Tag/Tag.vue'
export default {
  components: {
    AddTag,
    Tag
  },
  props: {
    quoteId: {
      type: Number,
      required: true
    },
    tags: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
ul {
  list-style: none;
  display: flex;
}
</style>
