<template>
  <button
    type="button"
    aria-label="logout button"
    class="mx-2 py-2 px-4 bg-gray-600 hover:bg-gray-800 rounded-md text-white shadow-md hover:shadow-xs"
    @click="logout"
  >
    Logout
  </button>
</template>

<script>
export default {
  methods: {
    logout() {
      this.$store
        .dispatch('logout')
        .then(() => this.$router.push('/'))
        .catch((error) => {
          console.log(error)
        })
    }
  }
}
</script>

<style lang="scss" scoped></style>
