<template>
  <div class="flex flex-wrap">
    <AddCategory :quote-id="quoteId"></AddCategory>
    <Category
      v-for="category in categories"
      :key="category.id"
      :category="category"
      :quote-id="quoteId"
    ></Category>
  </div>
</template>

<script>
import AddCategory from '~/components/Categories/AddCategory/AddCategory.vue'
import Category from '~/components/Categories/Category/Category.vue'
export default {
  components: {
    AddCategory,
    Category
  },
  props: {
    quoteId: {
      type: Number,
      required: true
    },
    categories: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
ul {
  list-style: none;
  display: flex;
}
</style>
